{% comment %} Using Collapsible Content section from DAWN theme {% endcomment %}
{% comment %} Products with metafield assigned: the-complete-snowboard, the-compare-at-price-snowboard, the-out-of-stock-snowboard {% endcomment %}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="accordion-container">
    {% comment %} Row 1 open by default {% endcomment %}
    <div class="accordion">
      <details id="Details-accordion-1" open>
        <summary id="Summary-accordion-1" class="accordion-header">
          <h3 class="accordion-title">Product material</h3>
          <svg width="24px" height="24px" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"/>
          </svg>
        </summary>
        <div
          class="accordion-content"
          id="CollapsibleAccordion-accordion-1"
          role="region"
          aria-labelledby="Summary-accordion-1"
        >
          {{ product.metafields.drive_digital.product_material }}
        </div>
      </details>
    </div>
    {% comment %} Row 2 {% endcomment %}
    <div class="accordion">
      <details id="Details-accordion-2">
        <summary id="Summary-accordion-2" class="accordion-header">
          <h3 class="accordion-title">Snowboard binding mount</h3>
          <svg width="24px" height="24px" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"/>
          </svg>
        </summary>
        <div
          class="accordion-content"
          id="CollapsibleAccordion-accordion-2"
          role="region"
          aria-labelledby="Summary-accordion-2"
        >
          {{ product.metafields.test_data.binding_mount }}
        </div>
      </details>
    </div>
    {% comment %} Row 3 {% endcomment %}
    <div class="accordion">
      <details id="Details-accordion-3">
        <summary id="Summary-accordion-3" class="accordion-header">
          <h3 class="accordion-title">Snowboard length</h3>
          <svg width="24px" height="24px" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"/>
          </svg>
        </summary>
        <div
          class="accordion-content"
          id="CollapsibleAccordion-accordion-3"
          role="region"
          aria-labelledby="Summary-accordion-3"
        >
          {{ product.metafields.test_data.snowboard_length.value }}
          {{ product.metafields.test_data.snowboard_length.unit }}
        </div>
      </details>
    </div>
  </div>
</div>
