{{ 'featured-product.css' | asset_url | stylesheet_tag }}
{% assign product = section.settings.product %}
{% assign current_variant = product.selected_or_first_available_variant %}

<div class="page-width">
  {% if product != blank %}
    <div class="featured-product">
      {% comment %} Product Image {% endcomment %}
      <img width="50%" height="" src="{{ product.featured_image | image_url}}" alt="{{product.featured_image.alt}}">
      <div class="featured-product-content">
        {% comment %} Product Title {% endcomment %}
        <h2 class="featured-product-title">
          {{ product.title | escape | upcase }}
        </h2>
        {% comment %} Product Price {% endcomment %}
        <div class="featured-product-price">
          {%- if current_variant.compare_at_price -%}
            <span id="price-tag" class="price-tag">{{ current_variant.price | money }}</span>
            <s class="compare-to-price">{{ current_variant.compare_at_price | money }}</s>
            <small class="save-discount"
              >save: {{ current_variant.compare_at_price | minus: current_variant.price | money -}}
            </small>
          {%- else -%}
            <span id="price-tag" class="price-tag">{{ current_variant.price | money }}</span>
          {%- endif -%}
          {%- unless current_variant.available -%}
            <span class="price-soldout">sold out</span>
          {%- endunless -%}
        </div>
        {% comment %} Product Description {% endcomment %}
        <p class="featured-product-description">{{ product.description | truncatewords: 55 }}</p>
        {% comment %} Product Tags {% endcomment %}
        <div class="featured-product-tags">
          {%- for tag in product.tags -%}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6px"
              height="6px"
              viewBox="0 0 6 6"
              fill="none"
              class="featured-product-tag-separator"
            >
              <circle cx="3" cy="3" r="3" fill="#D9D9D9"/>
            </svg>
            <span class="featured-product-tag">{{ tag }}</span>
          {%- endfor -%}
        </div>
        {%- form 'product',
          product,
          class: 'featured-product-form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {% comment %} Product Variations {% endcomment %}
          {%- unless product.has_only_default_variant -%}
            <select name="id" class="featured-product-form-input">
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  data-price="{{ variant.price | money }}"
                  {% if variant == current_variant %}
                    selected="selected"
                  {% endif %}
                >
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          {%- else -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          {%- endunless -%}
          {% comment %} Product Quantity {% endcomment %}
          <input type="number" increment="1" name="quantity" value="1" class="featured-product-form-input">
          {% comment %} Product Buy Button {% endcomment %}
          <button
            type="submit"
            name="add"
            class="button"
            {% if product.selected_or_first_available_variant.available == false
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            {%- if product.selected_or_first_available_variant.available == false -%}
              Sold Out
            {%- else -%}
              {% comment %} {%- assign added_to_cart = false -%} {% endcomment %}
              {%- for cart_item in cart.items -%}
                {%- if cart_item.id == product.selected_or_first_available_variant.id -%}
                  {%- assign added_to_cart = true -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
              {%- if added_to_cart -%}
                Added to Cart
              {%- else -%}
                Add to Cart
              {%- endif -%}
            {%- endif -%}
          </button>
        {%- endform -%}
      </div>
    </div>
  {% else %}
    <h2>Invalid product</h2>
  {% endif %}
  {%- render 'product-more-info', product: product -%}
</div>

{% comment %} Testing var to check cart contents in the console {% endcomment %}
<script defer>
  var cartContents = fetch(window.Shopify.routes.root + 'cart.js')
    .then((response) => response.json())
    .then((data) => {
      return data;
    });
</script>
{% comment %} Scripts {% endcomment %}
<script src="{{ 'featured-product.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Featured product"
    }
  ]
}
{% endschema %}
